.git
.github
.venv
__pycache__
*.pyc
.env
.env.*
tests/
.ruff_cache
.mypy_cache
.pytest_cache
*.egg-info
docker-compose*.yaml
Makefile
.pre-commit-config.yaml
current-doc/
past-sprints-doc/
.DS_Store
htmlcov/
.coverage
.coverage.*
dist/
build/
postgres_data/
minio_data/
*.mp4
*.mp3
*.wav
.keys-issued-to-users
